# Core Django & Server
Django
gunicorn
dj-database-url
psycopg2-binary
whitenoise

# Forms & UI
django-crispy-forms
crispy-bootstrap5
django-widget-tweaks

# Features
google-generativeai
Pillow
razorpay

# Security Suite
django-axes
django-otp
qrcode
django-auditlog
setuptools
